body,
div,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

.comment-header {
    padding: 35px 0;
}

.comment-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

body {
    color: #666;
}

ul {
    list-style-type: none;
}

#star {
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-top: 15px;
    ;
}

#star ul,
#star span {
    float: left;
    display: inline;
    height: 19px;
    line-height: 19px;
}

#star ul {
    margin: 0 10px;
}

#star li {
    float: left;
    width: 24px;
    cursor: pointer;
    text-indent: -9999px;
    background: url(../img/personCenter/star.png) no-repeat;
}

#star strong {
    color: #f60;
    padding-left: 10px;
}

#star li.on {
    background-position: 0 -28px;
}

#star p {
    position: absolute;
    top: 20px;
    width: 159px;
    height: 60px;
    display: none;
    background: url(../img/personCenter/icon.gif) no-repeat;
    padding: 7px 10px 0;
    clear: both;
}

#star p em {
    color: #f60;
    display: block;
    font-style: normal;
}

.comment-block {
    clear: both;
}